<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GostinicaEntities" connectionString="metadata=res://*/dolj.csdl|res://*/dolj.ssdl|res://*/dolj.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GostinicaEntities1" connectionString="metadata=res://*/nomer.csdl|res://*/nomer.ssdl|res://*/nomer.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GostinicaEntities2" connectionString="metadata=res://*/operacii.csdl|res://*/operacii.ssdl|res://*/operacii.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GostinicaEntities3" connectionString="metadata=res://*/sotrudniki.csdl|res://*/sotrudniki.ssdl|res://*/sotrudniki.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GostinicaEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GostinicaEntities5" connectionString="metadata=res://*/kategorii.csdl|res://*/kategorii.ssdl|res://*/kategorii.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DbApp.Properties.Settings.mobiledbConnectionString"
      connectionString="Data Source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DbApp.Properties.Settings.GostinicaConnectionString"
      connectionString="Data Source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DbApp.Properties.Settings.GostinicaConnectionString1"
      connectionString="Data Source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DbApp.Properties.Settings.GostinicaConnectionString2"
      connectionString="Data Source=DESKTOP-3KLN1KE\SQLEXPRESS;Initial Catalog=Gostinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>